# Dependencies
node_modules/

# Build
dist/
release/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
*.log
.DS_Store
Thumbs.db

# Debug
*.local
